@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');



// @import 'base/variables';
@import 'blocks/main';
@import 'blocks/input';
@import 'blocks/buttons';

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
body {
    background: no-repeat center / cover url(../img/background/clear_sky.jpg);
    backdrop-filter: blur(10px);
}
.container {
    width: 1200px;
    margin: 0 auto;
}

@import 'blocks/media';