.index {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
.main {
    padding: 50px 0px;
    &-wrapper {
        width: 1000px;
        margin: 0 auto;
        display: grid;
        justify-content: center;
        grid-template-columns: 40% 60%;
        grid-template-rows: 600px;
        background-color: rgb(243, 242, 242);
        border-radius: 10px;
        box-shadow: 9px 10px 21px 0px rgba(99, 109, 116, 0.6);
        &__input {
            position: relative;
        }
        &__weather-info {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: stretch;
        }
        &__weather-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 10px;
            max-height: 150px;
            background-color: lightblue;
            width: 100%;
            border-radius: 10px;
            box-shadow: 8px 11px 26px 5px rgba(170, 170, 171, 0.6);
            img {
                max-width: 150px;
            }
            p {
                width: 230px;
                font-size: 22px;
                font-weight: 500;
                text-align: center;
                color: rgb(107, 107, 107);
            }
        }
        &__weather-indexes {
            display: flex;
            flex-direction: column;
            p {
                display: flex;
                margin: 0;
                margin: 10px 0px;
                font-size: 16px;
                font-weight: 700;
                text-align: left;
            }
            span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: lightblue;
            }
        }
        &__weather-visual {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 0px 10px 10px 0px;
        }
        &__basic-info {
            display: grid;
            grid-template-columns: 60% 40%;
            grid-template-rows: repeat(2, 40px);
            background-color: rgba(243, 242, 242, 0.699);
            border-radius: 10px 10px 10px 0px;
        }
        &__current {
            &-temp {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
                p {
                    margin-right: 20px;
                    font-size: 90px;
                    font-weight: 500;
                    line-height: 84px;
                }
            }
            &-data {
                p {
                    margin-left: 20px;
                    font-size: 22px;
                    font-weight: 300;
                }
            }
            &-time {
                p {
                    margin-left: 20px;
                    font-size: 22px;
                    font-weight: 500; 
                }
            }
        }
        &__city-name {
            width: 420px;
            background-color: rgba(243, 242, 242, 0.699);
            border-radius: 0px 10px 10px 0px;
            p {
                margin: 20px 20px;
                font-size: 70px;
                letter-spacing: .96px;
                line-height: 60px;
                text-align: left;
            }
        }
    }
}